@import '../../constants/colors.module.scss';


.containter{
  background-color: $background;
  display: flex;
  justify-content: center;
}

.containerPresentation {
  max-width: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $background;
}

.presentation {
  min-height: 40vh;
  position: relative;
  color: $white;
}

.button{
  align-self: flex-end;
  padding: 15px;
  font-weight: bold;
  border: 2px solid $white;
  background-color: $background;
  color: $white;
  outline: none;
  transition: all .5s ease-in;
  position: relative;
  border-radius: 15px;
  overflow: hidden;

  &::after{
    content: '';
    width: 0;
    height: 100%;
    background-color: $white;
    position: absolute;
    top: 0;
    left: 50%;
    transition: all .5s ease;
  }
  
  &:hover{
    color: black;
    z-index: 2;
    background-color: $white;
    cursor: pointer;

    &::after{
      left:0;
      width: 100%;
      z-index: -1;  
      background-color: $white;

    }
  }

}


.down {
  animation-name: fall;
  animation-duration: .8s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
  opacity: 0.8;
}

@keyframes fall {
  0% {

      transform: rotate(0deg);

  }

  20% {
      transform: rotate(41deg);
      opacity: .6;
  }

  40% {
      transform: rotate(81deg);
      opacity: .5;
    }

  60% {
      transform: rotate(122deg);
    opacity: .4;
  }

  80% {
      transform: rotate((204deg));
      opacity: .3;
    }

  100% {
      top: 90%;
      transform: rotate(245deg);
      opacity: .2;
  }
}

.up {

  animation-name: rise;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
  text-align: center;
}

@keyframes rise {
  0% {
      top: 90%;
      transform: rotate(255deg)
  }

  20% {
      transform: rotate((204deg))
  }

  40% {
      transform: rotate(122deg);

  }

  60% {
      transform: rotate(81deg);
  }

  80% {
      transform: rotate(41deg);
  }

  100% {
      
      transform: rotate(0deg);

 }
}