.containerNav {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navBar {
  color: white;
  position: absolute;
  z-index: -1;
  right: 0;
  top: 0;
  display: flex;
  width: 0;
  height: 0;
  border-bottom-left-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: all 0.6s ease-in-out;
  background-color: black;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .containerNav {
    display: block;
    height: auto;
  }

  .navBar {
    z-index: 2;
    height: auto;
	border-radius: 0;
	display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    min-width: 100%;
  }

  .containerItems {
    display: flex;
	justify-content: space-between;
    margin-right: 50px;
  }
}
